body{
    height:100vh;
    margin:0;
    padding:0;
    display: flex;
}

div.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 100%;
    height: 100%;
}

img{
    width: 30vw;
    height: 100vh;
}