body{
    /* height:10vh; */
    margin:0;
    padding:0;
    display: flex;
}

div.content{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    padding: 0px;
    gap:2rem;
}

img{
    width: 30vw;
    height: -webkit-fill-available;
}

.hero-text{
    font-size: 36px;
    padding: 2rem;
}

form{
    display:flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content:flex-start;
    background-color: white;
    box-shadow: 0px 5px grey;
    padding:2rem;
    gap:2rem;
}

form p{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap:10px;
}

form legend{
    width: 100%;
    font-size: 2rem;;
}

button.submit{
    align-self: baseline;
    background-color: aquamarine;
    color: rgb(13, 72, 124);
    font-size: 1.5rem;
    border-radius: 5px;
    box-shadow: -5px 5px grey;
}

button.submit:hover{
    background-color:aqua;
}
button.submit:active{
    border: 5px solid green;
}
.submission{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}